<%= simple_form_for(@contact_schema) do |f| %>
  <%= f.error_notification %>

  <%= f.fields_for :fields do |builder| %>
      <%= render 'field_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Field", f, :fields %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
